<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados dos Cursos</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Alterar curso</h1>
                <hr>
                <form method="POST" action="/updateCurso/<%= curso._id %>">
                    <label>Nome do curso:</label>
                    <input type="text" name="name" id="name" value="<%= curso.nome %>" class="form-control">
                                    
                    <label>Carga horária do curso:</label>
                    <input type="text" name="carga" id="carga" value="<%= curso.carga %>" class="form-control cpf">
                    
                    <label>Endereço do curso:</label>
                    <input type="text" name="preco" id="preco" value="<%= curso.preco %>" class="form-control">
                    <br>
                    <input type="hidden" name="id" value="<%= curso._id %>">
                    <input type="submit" class="btn btn-warning" value="Alterar">
                </form>
                <hr>
            </div>
        </div>
    </div>
    <br>
    
</body>
</html>